In [5]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
covid_data = pd.read_csv('COVID-19-raw_linelist_report.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_9932\2394418007.py:1: DtypeWarning: Columns (0,13,14,15,17,32,33,34,35,36,37,42,43,44,45,46,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  covid_data = pd.read_csv('COVID-19-raw_linelist_report.csv')

In [3]:
covid_data.head()

,case_id,age,sex,occupation,county,country_of_diagnosis,nationality,subcounty,ward,village,...,comobidity,management,status_need,date_announced_by_cs,type_of_testing,graph_date,status,others,vaccinated,dosage
0,Case 207900,38.0,M,SCH/TEACHER,Machakos,Machakos,Kenyan,Athi River,NaN,LUKENYA,...,NaN,NaN,NaN,NaN,Antigen,NaN,NaN,NaN,NaN,NaN
1,Case 208001,22.0,M,Chef,Nairobi,Nairobi,Kenyan,Embakasi West,NaN,Patanisho,...,NaN,NaN,NaN,NaN,Antigen,NaN,NaN,NaN,NaN,NaN
2,Case 208002,25.0,F,Accountant,Nairobi,Nairobi,Kenyan,Embakasi West,NaN,Donholm,...,NaN,NaN,NaN,NaN,Antigen,NaN,NaN,NaN,NaN,NaN
3,Case 208003,50.0,F,Social worker,Nairobi,Nairobi,Kenyan,Embakasi West,NaN,Umoja,...,NaN,NaN,NaN,NaN,Antigen,NaN,NaN,NaN,NaN,NaN
4,Case 208004,26.0,F,Business woman,Nairobi,Nairobi,Kenyan,Embakasi West,NaN,Mowlem,...,NaN,NaN,NaN,NaN,Antigen,NaN,NaN,NaN,NaN,NaN

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93420 entries, 0 to 93419
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   case_id                  93420 non-null  object
 1   age                      93093 non-null  float64
 2   sex                      93418 non-null  object
 3   occupation               85587 non-null  object
 4   county                   93420 non-null  object
 5   country_of_diagnosis     93420 non-null  object
 6   nationality              93420 non-null  object
 7   subcounty                93277 non-null  object
 8   ward                     37785 non-null  object
 9   village                  66401 non-null  object
 10  travel_history           88360 non-null  object
 11  where_from               2052 non-null   object
 12  imported                 91192 non-null  object
 13  flight_no                145 non-null    object
 14  history_of_contact       23936 non-null  object
 15  date_of_arrival          235 non-null    object
 16  symptoms                 92468 non-null  object
 17  classification           93395 non-null  object
 18  onset_date               93399 non-null  object
 19  cough                    93172 non-null  object
 20  fever                    93172 non-null  object
 21  difficulty_breathing     93169 non-null  object
 22  visit_health_facility    1441 non-null   object
 23  date_hospital_visit      1131 non-null   object
 24  health_facility_name     2450 non-null   object
 25  hospitalization          932 non-null    object
 26  admission_date           2509 non-null   object
 27  sample_collected         74636 non-null  object
 28  date_sample_collected    92642 non-null  object
 29  lab_result               92617 non-null  object
 30  lab_site                 93202 non-null  object
 31  date_lab_confirmation    93420 non-null  object
 32  date_first_follow_up     58 non-null     object
 33  result_first_follow_up   56 non-null     object
 34  date_second_follow_up    47 non-null     object
 35  result_second_follow_up  47 non-null     object
 36  date_third_follow_up     9 non-null      object
 37  result_third_follow_up   8 non-null      object
 38  outcome                  4635 non-null   object
 39  date_of_outcome          2188 non-null   object
 40  quarantine_facility      58140 non-null  object
 41  comobidity               1645 non-null   object
 42  management               23 non-null     object
 43  status_need              18 non-null     object
 44  date_announced_by_cs     4125 non-null   object
 45  type_of_testing          53124 non-null  object
 46  graph_date               2294 non-null   object
 47  status                   0 non-null      float64
 48  others                   8369 non-null   object
 49  vaccinated               1354 non-null   object
 50  dosage                   598 non-null    object
dtypes: float64(2), object(49)
memory usage: 36.3+ MB

In [ ]:
t